 body {
            font-family: 'Malgun Gothic', 'Nanum Gothic', 'Gothic', sans-serif;
            /* font-size: 1em; */
        }

        /* 메인 헤더영역 사이즈 조절 및 콘텐츠 조절 */
        #main_header {
            font-size: 2em;
            width: 100%;
            /* height: 90%; */
            background-color: #e9e3e3;
            display: flex;
        }

        /* 메뉴title 거래처리스트 */
        #list_title {
            width: 50%;
            margin-left: 3%;
        }

        /* 거래처 검색 */
        #list_search {
            width: 50%;
            /* border: 1px solid blue; 크기 확인 */
            display: flex;
            align-items: center;
            justify-content: right;

        }

        /* 검색창 사이즈 조절 */
        .list_search_text {
            width: 20%;
            height: 3%;
            position: absolute;
            margin-right: 4%;
        }

        /* 검색 아이콘 사이즈 조절 */
        .list_search_img {
            width: 2%;
            position: relative;
            margin-right: 10%;
        }

        /* 메인 사이즈 조절 */
        #main_content {
            width: 100%;
            background-color: #e9e3e3;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* 거래처 테이블 조절*/
        #main_board {
            width: 95%;
            border-collapse: collapse;
            text-align: center;
        }


        /* 테이블간격 조절 및 선 두께 설정 */
        th,
        td {
            padding: 0.8%;
            border: 1px solid rgba(170, 165, 165, 0.826);
        }


        /* 거래처 등록 팝업 위치 fixed 및 크기등 조절 */
        #registration_pop {
           /*  display: none; */
            width: 50%;
            max-height: 80%;
            background-color: #e0dcdc;
            border-radius: 5px;
            position: fixed;
            top: 10%;
            right: 20%;
            overflow-y: auto;
        }

        /* 거래처 신규등록 및 수정 파란창 */
        #registration_pop_title {
            font-size: 2em;
            background-color: #4169E1;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 2%;
        }

        /* popup 테이블 구역 wrap */
        #registration_pop_table_wrap {
            width: 90%;
            height: 70%;
            background-color: #fff;
            /* position :absolute; */
            margin: 0 auto;
            border: 1px solid transparent;
            border-radius: 5px;
        }

        #new_registration {
            width: 100%;
            padding: 3px;
        }

        .input_group {
            display: flex;
        }

        #pop_title {
            height: 7%;
            font-size: 1.0em;
            font-weight: bold;
            margin: 1% 0 1% 5%;
        }

        #new_registration .text {
            width: 100%;
            border: 1px solid rgb(217, 217, 236);
            border-radius: 5px;
        }

        /* input 창 hover */
        #new_registration .text:focus {
            outline: 1px solid rgb(50, 50, 230);
        }

        /*  팝업 테이블 선 없애기 */
        #new_registration td,
        tr {
            font-size: 0.9em;
            border-right: none;
            border-left: none;
            border-top: none;
            border-bottom: none;

        }

        /* footer */
        /* 페이지 넘버 */
        .page-box {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: center;
        }

        .page-box li {
            padding: 1% 1%;
            margin: 2px;
            font-size: 0.8em;
            border-radius: 10px;
            cursor: pointer;
            display: flex;
        }

        .page-box li:hover {
            background-color: #4169E1;
        }

        /* 버튼효과 css */
        .change_button {
            padding: 1% 2%;
            background-color: #6495ED;
            border: none;
            color: #fff;
            font-size: 0.8em;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            /* 배경색 변경 애니메이션 */
        }

        .change_button:hover {
            background-color: #4169E1;
        }

        .button_basic {
            padding: 1% 1%;
            background-color: #fff;
            border: none;
            color: #000;
            font-size: 0.8em;
            border-radius: 10px;
            cursor: pointer;
        }
        .button_basic:hover{
	border: 1px solid rgb(50, 50, 230); 
        }
        .table_button {
            background-color: #fff;
            border: none;
            color: black;
            font-size: 0.8em;
            width: 40%
        }

        /* 팝업 버튼 설정 간격 */
        #setting_button {
            margin: 2% 0 2% 5%;
        }


        /* 메인버튼 align*/
        #main_button {
            text-align: center;
            padding: 5%;
        }

        /* alert 팝업 div */
        #alert_div {

            width: 35%;
            height: 30%;
            background-color: #e0dcdc;
            border-radius: 5px;
            position: fixed;
            top: 25%;
            left: 25%;
            display: none;
            align-items: center;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        #alert_title {
            width: 100%;
            padding: 10px 0;
            background-color: #4169E1;
            border-radius: 5px 5px 0 0;
            color: #fff;
            font-size: 2em;
            font-weight: bold;
            text-align: center;
            margin-bottom: 5%;
            display: flex;
        }

        .alert_content {
            width: 100%;
            margin: 3% 0 10% 5%;
            text-align: left;
            display: flex;
        }

        #alert_button {
            display: flex;
            justify-content: center;
            cursor: pointer;
        }

/*사원등록, 품목검색 pop*/

 /* 사원검색 pop */
        #employee_search_pop {
            display: none;
            width: 30%;
            height: 70%;
            background-color: #e0dcdc;
            border-radius: 5px;
            position: fixed;
            top: 10%;
            right: 20%;
        }

        #employee_search_title {
            width: 100%;
            font-size: 2em;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            background-color: #4169E1;
        }

        #employee_search_head {
            width: 100%;
            height: 10%;
            font-size: 1em;
            /* padding: 3px; */
            margin-top: 2%;
            display: flex;
            justify-content: space-between;
        }

        #employee_search_head_right,
        #employee_search_head_left {
            margin: 2%;
            width: 50%;
            display: flex;
        }
         #employee_search_head_right{
            display : flex;
	width : 100%;
        } 
        #employee_search_head_right,{
	font-szie:1.2em;
        }

        #employee_table_wrap {
            width: 95%;
            height: 65%;
            background-color: #fff;
            margin: 0 auto;
            overflow-y: auto;
        }

        #employee_search_table {
            width: 100%;
            margin: 0 auto;
            border-spacing: 0;
            border-collapse: collapse;
        }

        #employee_search_pop_button {
            margin: 3% 0 2% 5%;
        }




        /* 신규사원 등록 pop */
        #new_employee_pop {
            display: none;
            width: 60%;
            height: 60%;
            background-color: #e0dcdc;
            border-radius: 5px;
            position: fixed;
            top: 10%;
            right: 20%;
        }

        #new_employee_pop_title {
            width: 100%;
            font-size: 2em;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            background-color: #4169E1;
            /* padding-left: 2%; */
        }

        #new_employee_pop_head {
            width: 100%;
            height: 5%;
            font-size: 1em;
            margin-top: 2%;
            /* padding-left: 2%; */
        }

        #new_employee_table_wrap {
            width: 95%;
            height: 60%;
            background-color: #fff;
            margin: 2% auto;
            overflow-y: auto;
        }

        #new_employee_table {
            width: 100%;
            border-spacing: 0;
            border-collapse: collapse;
            margin-top: 20px;

        }

        #new_employee_pop_button {
            margin: 0 2% 2% 2%;
        }


        #new_employee_table input[type="text"] {
            width: 95%;
            box-sizing: border-box;
        }

        /* 품목검색 pop */
        #item_search_pop {
            display: none;
            width: 40%;
            height: 70%;
            background-color: #e0dcdc;
            border-radius: 5px;
            position: fixed;
            top: 10%;
            right: 20%;
        }

        #item_search_pop_title {
            width: 100%;
            font-size: 2em;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            background-color: #4169E1;
        }

        #item_search_pop_head {
            width: 100%;
            height: 10%;
            font-size: 1em;
            /* padding: 3px; */
            margin-top: 2%;
            display: flex;
            justify-content: space-between;
        }

        #item_search_pop_head_right,
        #item_search_pop_head_left {
            margin: 2%;
            width: 50%;
            display: flex;
        }

        #item_search_pop_wrap {
            width: 95%;
            height: 65%;
            background-color: #fff;
            margin: 0 auto;
            overflow-y: auto;
        }

        #item_search_pop_table {
            width: 100%;
            border-spacing: 0;
            border-collapse: collapse;
        }

        #item_search_pop_button {
            margin: 3% 0 2% 5%;
        }