body {
    display: flex;
    justify-content: space-between;
  }

  .side {
      width: 20%;
      height: 100%;
      text-align: center;
  }

  .vertical_line {
      width: 2px; 
      height: 100%; 
      background-color: #777; 
      position: fixed; 
      top: 0;
      left: 20%;
  }

  .profile_img {
      display: inline-block;
      width: 120px;
      height: 150px;
      margin-top: 20px;
  }

  .logout {
      text-decoration: none;
      color: #7a7a7a;
      border: 2px solid #7a7a7a;
      padding: 4px;
  }

  .side_menu {
      margin-top: 50px;
  }

  .side_menu ul {
      margin: 0;
      padding: 0;
  }

  .side_menu ul li {
      display: inline-block;
  }

  .side_menu ul li a {
      text-decoration: none;
      display: block;
      font-size: 20px;
      width: 180px;
      text-align: left; 
      color: #777;
      margin-top: 30px;
      font-weight: bold;
  }

  .side_menu ul li a:hover {
      color: rgb(27, 197, 163);
      cursor: pointer;
  }

  .side_menu ul li a.active {
      color: rgb(26, 188, 156);
      cursor: pointer;
  }

  .main {
      width: 80%;
      height: 100%;
  }

  .menu {
      margin-left: 20px;
  }

  .menu ul {
      margin: 0;
      padding: 0;
  }

  .menu ul li {
      display: inline-block;
  }

  .menu ul li a {
      text-decoration: none;
      display: block;
      font-size: 20px;
      font-weight: bold;
      width: 170px;
      height: 40px;
      border: 0; 
      text-align: center; 
      line-height: 40px;
      background-color: rgb(190, 190, 190);
      color: #fff;
      border-radius: 50px;
      margin-top: 30px;
      margin-left: 20px;
  }

  .menu ul li a:hover {
      background: rgb(170, 170, 170);  
      color: #fff;
      border: 0;
  }

  .menu ul li a.ann {
      background: rgb(26, 188, 156);
      color: #fff;
      border: 0;
      cursor: pointer;
  }

  #currentDate {
      text-align: center;
      font-size: 33px;
      font-weight: bold;
      margin-top: 10px;
  }

  .info {
      position: relative;
      width: 94%;
      height: 100px;
      border: 2px solid #b9b9b9;
      margin-left: 30px;
      margin-top: 30px;
      border-radius: 10px;
  }

  .info img {
      position: absolute;
      width: 60px;
      height: 60px;
      margin-top: 20px;
      margin-left: 40px;
  }

  .info span {
      position: absolute;
      margin-top: 4%;
      margin-left: 12%;
      font-size: 20px;
  }

  .line1 {
      position: absolute;
      height: 100%;
      top: 0;
      left: 30%;
      border-right: 2px solid #b9b9b9;
  }

  .total_ann, .used_ann, .left_ann {
      position: absolute;
      width: 10%;
      text-align: center;
      margin-top: 13px;
  }

  .total_ann {
      margin-left: 40%;
  }

  .used_ann {
      margin-left: 60%;
  }
  
  .left_ann {
      margin-left: 80%;
  }

  .info p {
      font-size: 35px;
      color:rgb(26, 188, 156);
      margin-top: 10px;
  }

  .line2 {
      position: absolute;
      height: 70%;
      top: 15%;
      left: 54%;
      border-right: 2px solid #b9b9b9;
  }

  .line3 {
      position: absolute;
      height: 70%;
      top: 15%;
      left: 75%;
      border-right: 2px solid #b9b9b9;
  }

  .ann_date {
      width: 50%;
      margin: 3%;
  }

  .ann_date p {
      font-size: 20px;
      color: #777;
  }

  .ann_date input {
      width: 120px;
      height: 22px;
  }

  .his {
      margin: 3%;
  }

  .used_his table {
      width: 100%;
      height: 150px;
      text-align: center;
      border-top: 2px solid #777;
      border-bottom: 2px solid #777;
      border-collapse: separate;
      border-spacing: 0;
  }

  .used_his th {
      border-bottom: 2px solid #777;
  }

  .his2 {
      margin: 3%;
  }

  .create_his table {
      width: 100%;
      height: 100px;
      text-align: center;
      border-top: 2px solid #777;
      border-bottom: 2px solid #777;
      border-collapse: separate;
      border-spacing: 0;
  }

  .create_his th {
      border-bottom: 2px solid #777;
  }