body{
    margin: 1;
}
.mainBox {
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    margin: 0 auto;
    /* display: flex; */
    box-sizing: border-box;
    position: relative;
}

.left-box {
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    box-sizing: border-box;
}

/*
.right-box {
    width: 10%;
    height: auto;
    border: 1px solid orange;
    box-sizing: border-box;
}

.right-box div p{
    text-align: center;
    font-size: 15px;
}

#bookmark{
    margin-left: 20%;
}

#bookmark_img{
    width: 80%;
} */
#header {
    width: 100%;
    height: 8%;
    border-bottom: 1px solid black;
}

#header ul {
    list-style: none;
    display: flex;
    height: 100%;
    margin-top: auto;
    padding-left: 0;
}

#li_icon{
    width:20%;
    /* border: 1px solid red; */
}

#icon {
    width: 40%;
    height: 100%;
}

#li_search {
    width: 50%;

}

#search {
    display: flex;
    width: 100%;
    height: 80%;
    border: 2px solid rgb(26,188,156);
    border-radius: 10px;
    line-height: 350%;
    margin-top: 0.5%;

}


#search_size {
    width: 100%;
    height: 100%;
    outline: none;
    display: inline-block;

}

#search_txt {
    width: 100%;
    height: 90%;
    font-size: 25px;
    /* outline: none: removal of outine of (input type="text") */
    outline: none;
    /* border-width: removal border of (input type="text") */
    border-width: 0;
    border-radius: 15px;
}

#search_img {
    width: 6%;
}

#search_img1 {
    width: 100%;
    cursor: pointer;
    margin-left: -18%;
    margin-top: 2%;
}

#li_userIcon {
    width: 30%;
}

#userIcon {
    width: 13%;
    height: 95%;
    margin-left:70%;
}

/* 메뉴보드 */
#menuBoard {
    width: 100%;
    height: 6%;
    border-bottom: 1px solid black;
    display: flex;
}


#menuBoard div {
    cursor: pointer;
    width:12.5%;
    text-align: center;
    line-height: 350%;
    /* margin-top: 1.2%; */
    border-right: 1px solid black;
    height: 100%;
}
#menuBoard #store{
    border:none;
}

#menuBoard div a {
    text-decoration: none;
    color: black;
}
/* 메뉴보드 끝 */
/* 모니터링의 css */
#monitering {

    /* border: 1px solid #2b2b37; */
    width: 100%;
    /* height: 5.7%; */
    line-height: 330%;
    display: flex;
    position: absolute;
    display: none;
    background-color:  rgb(26,188,156);

}

#monitering div {
    width: 20%;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    
}

#monitering div a {
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
}
/* 모니터링의 css  끝*/

/* 세부메뉴바의 폰트를 더 진하게 바꿈 */
#moniter1 a:hover{
    color: #fff;
    opacity: 1;
}
#moniter2 a:hover{
    color: #fff;
    opacity: 1;
}
#moniter3 a:hover{
    color: #fff;
    opacity: 1;
}
#moniter4 a:hover{
    color: #fff;
    opacity: 1;
}
#moniter5 a:hover{
    color: #fff;
    opacity: 1;
}
 /* 세부메뉴바의 폰트를 더 진하게 바꿈 end*/
 #criteria {

    /* border: 1px solid #2b2b37; */
    width: 100%;
    /* height: 5.7%; */
    line-height: 330%;
    display: flex;
    position: absolute;
    display: none;
    background-color:  rgb(26,188,156);

}

#criteria div {
    width: 20%;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    
}

#criteria div a {
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
}
/* 모니터링의 css  끝*/

/* 세부메뉴바의 폰트를 더 진하게 바꿈 */
#standard1 a:hover{
    color: #fff;
    opacity: 1;
}
#standard2 a:hover{
    color: #fff;
    opacity: 1;
}
#standard3 a:hover{
    color: #fff;
    opacity: 1;
}
#standard4 a:hover{
    color: #fff;
    opacity: 1;
}
#standard5 a:hover{
    color: #fff;
    opacity: 1;
}
 #planning {

    /* border: 1px solid #2b2b37; */
    width: 100%;
    /* height: 5.7%; */
    line-height: 330%;
    display: flex;
    position: absolute;
    display: none;
    background-color:  rgb(26,188,156);

}

#planning div {
    width: 25%;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    
}

#planning div a {
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
}
/* 모니터링의 css  끝*/

/* 세부메뉴바의 폰트를 더 진하게 바꿈 */
#planning1 a:hover{
    color: #fff;
    opacity: 1;
}
#planning2 a:hover{
    color: #fff;
    opacity: 1;
}
#planning3 a:hover{
    color: #fff;
    opacity: 1;
}
#planning4 a:hover{
    color: #fff;
    opacity: 1;
}
#planning5 a:hover{
    color: #fff;
    opacity: 1;
}
#performing {

    /* border: 1px solid #2b2b37; */
    width: 100%;
    /* height: 5.7%; */
    line-height: 330%;
    display: flex;
    position: absolute;
    display: none;
    background-color:  rgb(26,188,156);

}

#performing div {
    width: 20%;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    
}

#performing div a {
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
}
/* 모니터링의 css  끝*/

/* 세부메뉴바의 폰트를 더 진하게 바꿈 */
#perform1 a:hover{
    color: #fff;
    opacity: 1;
}
#perform2 a:hover{
    color: #fff;
    opacity: 1;
}
#perform3 a:hover{
    color: #fff;
    opacity: 1;
}
#perform4 a:hover{
    color: #fff;
    opacity: 1;
}
#perform5 a:hover{
    color: #fff;
    opacity: 1;
}
#predicting {

    /* border: 1px solid #2b2b37; */
    width: 100%;
    /* height: 5.7%; */
    line-height: 330%;
    display: flex;
    position: absolute;
    display: none;
    background-color:  rgb(26,188,156);

}

#predicting div {
    width: 25%;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    
}

#predicting div a {
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
}
/* 모니터링의 css  끝*/

/* 세부메뉴바의 폰트를 더 진하게 바꿈 */
#predicting1 a:hover{
    color: #fff;
    opacity: 1;
}
#predicting2 a:hover{
    color: #fff;
    opacity: 1;
}
#predicting3 a:hover{
    color: #fff;
    opacity: 1;
}
#predicting4 a:hover{
    color: #fff;
    opacity: 1;
}
#predicting5 a:hover{
    color: #fff;
    opacity: 1;
}
#invent {

    /* border: 1px solid #2b2b37; */
    width: 100%;
    /* height: 5.7%; */
    line-height: 330%;
    display: flex;
    position: absolute;
    display: none;
    background-color:  rgb(26,188,156);

}

#invent div {
    width: 33%;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    
}

#invent div a {
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
}
/* 모니터링의 css  끝*/

/* 세부메뉴바의 폰트를 더 진하게 바꿈 */
#invent1 a:hover{
    color: #fff;
    opacity: 1;
}
#invent2 a:hover{
    color: #fff;
    opacity: 1;
}
#invent3 a:hover{
    color: #fff;
    opacity: 1;
}
#storing {

    /* border: 1px solid #2b2b37; */
    width: 100%;
    /* height: 5.7%; */
    line-height: 330%;
    display: flex;
    position: absolute;
    display: none;
    background-color:  rgb(26,188,156);

}

#storing div {
    width: 25%;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    
}

#storing div a {
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
}
/* 모니터링의 css  끝*/

/* 세부메뉴바의 폰트를 더 진하게 바꿈 */
#storing1 a:hover{
    color: #fff;
    opacity: 1;
}
#investoring2nt2 a:hover{
    color: #fff;
    opacity: 1;
}
#storing3 a:hover{
    color: #fff;
    opacity: 1;
}
#storing4 a:hover{
    color: #fff;
    opacity: 1;
}
 /* 세부메뉴바의 폰트를 더 진하게 바꿈 end*/

/* 여기서부터 메뉴바 하단부 코딩(세부메뉴 코딩) */
